*{box-sizing: border-box;}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#ebebeb;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;

}
.precio{ 
    width: 30%;
    font-size: 18px;

 }
 .discount{ 
    width: 30%;
    font-size: 16px;
 }

.copy-header {
font-size: 16px;
 font-weight: 400;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.logo{
    max-width:  200px;
    margin-left: 0;
}


.hamburger-buttom{
    background-color:#03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
   text-decoration: none;
   color: #222222;
   display: inline-block;
   padding: 20px 0 5px;
   font-size: 17px;
}
.main-navbar {
    display: none;
}

h2{  
    font-size: 24px;
}
footer p{
    font-size: 16px;
}

.precios p{
    font-size: 18px;
}

img{
    max-width: 300px;
    margin: auto;
    display: block;
}
#banner img {
    max-width: 100%;
}

.discount{
    color: #39b54a;
    font-size: 16px;
}

main{
    text-align: center;
    width: 90%;
    margin: auto;
    display: block;
    align-items: center;
}
main section .item .description i{
    display: block;
    font-size: 16px;
    padding: 15px;
    color: #39b54a;;
    border: 1px solid #39b54a;
    margin: auto;
    border-radius: 50%;
    position:absolute;
    right: 20px;
    top: -25px;

}
.item{
    background-color: white;
    margin: 10px;
    padding: 15px;

}
.description{
    border-top: solid 1px #ebebeb;
    text-align: start;
    padding: 15px;
    position:relative;

}
footer{
    text-align: center;
    background-color: white;
}
.cajafo{
    flex-direction: column;
    justify-content: center;
}
.cajafo i {
    color: blue;
}
.copyright{
    font-size: 12px;
}
.lc{
    padding: 20px 30px;

}
.cajafo i{
    font-size: 2em;
}

.cajafo p {
    font-size: 12px;
    margin-top: -20px;
    justify-content: center;
}
.selectores{
    margin: 30px; 
}


.ord input {
    left: 10%;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

section.formReg {
    font-size: 15px;
    background-color:#ebebeb;
   
}

.formulario01 {
    border-radius: 5px;
    font-size: 10px;
}

.formulario011 {
    display: block;
    margin: 0;
    color: white;
    width: 40%;
    font-size: 10px;
    border-radius: 0.5rem;
    background-color: #03264c;
}

.login-02 {

    display: block;
    margin: 0;
    color: white;
    width: 40%;
    font-size: 25px;
    font-weight: inherit;
    border: none;
    border-radius: 0.5rem;
    transition: box-shadow;
    background-color: #03264c;

}

.login-01 {
    text-align: left;
    display: block;
    margin: 5p;
    color: inherit;
    width: 80%;
    font-size: 25px;
    border: none;
    border-radius: 0.5rem;
    transition: box-shadow;
    
}
.formReg p{
    text-decoration: underline;   
}

.item:hover .fas.fa-truck {
    transform: rotate(-90deg);
}

.item .fas.fa-truck {
    transition: transform 0.5s ease 0s;
}

.item:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.item {
    transition: transform 0.5s ease 0s;
}

.item:hover .item-title {
    display: block;
}

.item .item-title {
    transition: transform 0.5s ease 0s;
}
.linea{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

@media (min-width: 570px) {
  
.main-header-top-bar {
        display: flex;
    }
    .hamburger-buttom {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .item-title{
        display: none;     
    }
    
    .barra-bus {
        margin-top: 10px;
        margin-right: 40px;
    
    }
}

@media (min-width: 768px){
    .selectores{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
    }
    #last-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
   #sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cajafo{
    display: flex;
    flex-direction:row ;
}

.ord {
    margin: 30px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}
.main-navbar li{
    margin: 0 10px;
}
.barra-bus {
    margin-top: 10px;
    margin-right: 100px;

}
 }

@media (min-width: 1200px){
    #sale{
        display: flex;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #last-search{
        display: flex;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .logo{
        width: 250px;
        margin-left: 0;
    }
    
    main h2{
        text-align: center;
    }
    .main-header-top-bar .main-navbar{
        max-width: 1200px;
        
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .cajafo{
        display: flex;
        flex-direction:row ;
    }
    .barra-bus {
        margin-top: 10px;
        margin-right: 350px;
   
    }
     }
